In [ ]:
!pip install PyPDF2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyPDF2
  Downloading PyPDF2-2.10.8-py3-none-any.whl (217 kB)
     |████████████████████████████████| 217 kB 9.5 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.7/dist-packages (from PyPDF2) (4.1.1)
Installing collected packages: PyPDF2
Successfully installed PyPDF2-2.10.8

In [ ]:
import PyPDF2

In [ ]:
data = open('/content/Macros_Chapter-1.pdf', 'rb')

reader = PyPDF2.PdfFileReader(data)

print(reader.numPages)

9

In [ ]:
page = reader.getPage(2)

In [ ]:
print(page.extractText())

Intellipaat Software Solutions Pvt. Ltd.
 1Chapter 1 : Introducing VBA
1What is VBA:
Visual Basic for Applications (VBA) is a programming language created by
Microsoft to automate operations in applications that support it, such as Excel.
VBA is a powerful language that enable you to control excel in countless ways.
VBA is an object oriented programming language.
VBA can also be used to manipulate other Microsoft applications in Access,
word, Power Point and Outlook.
No additional installation is required for VBA. If you have Excel on your
computer then you have VBA on your computer.
3

In [ ]:
#close file
data.close()

###Working with Text file

In [ ]:
text_data = open("demo.txt", 'r')

print(text_data.read())

Hello All. This is Brijesh PAtel. I am a Data Scientist.

###Working with CSV file

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('spam.csv', encoding='ISO-8859-1')

In [ ]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
data.drop(data.columns[[2,3,4]], axis=1, inplace=True)

In [ ]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
data.shape

(5572, 2)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [ ]:
data.isnull().sum()

v1    0
v2    0
dtype: int64

###tokenization

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
#sentence tokenization
data = "This is Brijesh Patel. I am a Data Scientist."

sent_token = nltk.sent_tokenize(data)

print(sent_token)
print(type(sent_token))
print(len(sent_token))

['This is Brijesh Patel.', 'I am a Data Scientist.']
<class 'list'>
2

In [ ]:
#word tokenization
data = "This is Brijesh Patel. I am a Data Scientist."

word_token = nltk.word_tokenize(data)

print(word_token)
print(type(word_token))
print(len(word_token))

['This', 'is', 'Brijesh', 'Patel', '.', 'I', 'am', 'a', 'Data', 'Scientist', '.']
<class 'list'>
11

###Stemming

In [ ]:
from nltk.stem import PorterStemmer

In [ ]:
portstem = PorterStemmer()

words = ['Like', 'Liking', 'likes']

for i in words:
  print(i, ' : ', portstem.stem(i) )

Like  :  like
Liking  :  like
likes  :  like

###Lemmatization

In [ ]:
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
from nltk.stem import WordNetLemmatizer

In [ ]:
lemma = WordNetLemmatizer()

print("socks: ", lemma.lemmatize("socks"))
print("reading: ", lemma.lemmatize("reading"))
print("sons: ", lemma.lemmatize("sons"))

socks:  sock
reading:  reading
sons:  son

###Stop words

In [ ]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
data = "Data Science is one of the trening field to work with.. It needs data to give prediction by using the past scenarios"

stop_words = set(stopwords.words('english'))

print(stopwords.words('english'))
#print(len(stop_words))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
#so before Lemmatization we should have to convert our data to tokens..
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
data = nltk.word_tokenize(data)

data

['Data',
 'Science',
 'is',
 'one',
 'of',
 'the',
 'trening',
 'field',
 'to',
 'work',
 'with',
 '..',
 'It',
 'needs',
 'data',
 'to',
 'give',
 'prediction',
 'by',
 'using',
 'the',
 'past',
 'scenarios']

In [ ]:
stop_words = set(stopwords.words('english'))

In [ ]:
for word in data:
  if word in stop_words:
    print(word)

is
of
the
to
with
to
by
the

In [12]:
!git remote add origin https://github.com/Brijesh-fadadu/NLP.git

fatal: remote origin already exists.

In [13]:
!git branch -M main

error: refname refs/heads/master not found
fatal: Branch rename failed