<a href="https://colab.research.google.com/github/Brijesh-fadadu/NLP/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/IMDB.csv')

In [ ]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
data.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [ ]:
data.columns

Index(['review', 'sentiment'], dtype='object')

In [ ]:
data.isnull().sum()

review       0
sentiment    0
dtype: int64

In [ ]:
data.shape

(50000, 2)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [ ]:
data.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [ ]:
data['sentiment'].value_counts()

positive    25000
negative    25000
Name: sentiment, dtype: int64

###Text Normalization

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import wordcloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize, sent_tokenize

In [ ]:
import spacy
import re, string, unicodedata
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer, WordNetLemmatizer
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import SVC
from textblob import TextBlob
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
#tokenization Text
tokenizers = ToktokTokenizer()

#English StopWords
stop_words = nltk.corpus.stopwords.words('english')

In [ ]:
def noiseremoval_text(text):
  soup = BeautifulSoup(text, "html.parser")
  text = soup.get_text()
  text = re.sub('\[[^]]*\]', '', text)
  return text

In [ ]:
#applying function on review column
data['review']=data['review'].apply(noiseremoval_text)

In [ ]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
#Stemming the text
def stemmer(text):
  ps = nltk.porter.PorterStemmer()
  text = ' '.join([ps.stem(word) for word in text.split()])
  return text

In [ ]:
data['review']=data['review'].apply(stemmer)

In [ ]:
data.head()

                                              review sentiment
0  one of the other review ha mention that after ...  positive
1  a wonder littl production. the film techniqu i...  positive
2  i thought thi wa a wonder way to spend time on...  positive
3  basic there' a famili where a littl boy (jake)...  negative
4  petter mattei' "love in the time of money" is ...  positive

In [ ]:
from pygments import token
#removing the stop words

def removing_stopwords(text, is_lower_case=False):

  #Tokenization of text
  tokenizers = ToktokTokenizer()

  #Setting English Stopwords
  tokens = tokenizers.tokenize(text)
  tokens = [i.strip() for i in tokens]

  if is_lower_case:
    filtokens = [i for i in tokens if token not in stop_words]
  else:
    filtokens = [i for i in tokens if i.lower() not in stop_words]
  filtered_texts = ' '.join(filtokens)
  return filtered_texts

In [ ]:
data['review']=data['review'].apply(removing_stopwords)

In [ ]:
data.head()

                                              review sentiment
0  one review ha mention watch 1 oz episod ' hook...  positive
1  wonder littl production. film techniqu veri un...  positive
2  thought thi wa wonder way spend time hot summe...  positive
3  basic ' famili littl boy ( jake ) think ' zomb...  negative
4  petter mattei ' " love time money " visual stu...  positive

In [ ]:
#split the dataset into train test
train_reviews = data.review[:30000]
test_reviews = data.review[30000:]

In [ ]:
train_reviews.tail()

29995    new york , love final make shores , 10 short s...
29996    thi movi make wish imdb would let vote zero. o...
29997    space camp , unfortun luck plan around time ch...
29998    octavio paz , mexican poet , writer , diplomat...
29999    watch 10 minut thi movi wa bewildered , watch ...
Name: review, dtype: object

###Bag of Words

In [ ]:
#COunt Vectorizer for bag of words
cv = CountVectorizer(min_df=0,max_df=1,binary=False,ngram_range=(1,3))

#fit and transform train data
cv_train = cv.fit_transform(train_reviews)

#transform test data
cv_test = cv.transform(test_reviews)

Bag of Words of train data :    (0, 3181519)	1
  (0, 1714522)	1
  (0, 3733413)	1
  (0, 3126730)	1
  (0, 1321504)	1
  (0, 2056832)	1
  (0, 4114099)	1
  (0, 584869)	1
  (0, 4542499)	1
  (0, 4646261)	1
  (0, 3862492)	1
  (0, 1957965)	1
  (0, 4400957)	1
  (0, 3517224)	1
  (0, 4645968)	1
  (0, 1933948)	1
  (0, 618628)	1
  (0, 1776645)	1
  (0, 3103753)	1
  (0, 3745637)	1
  (0, 4050785)	1
  (0, 3181520)	1
  (0, 2593072)	1
  (0, 767500)	1
  (0, 1415181)	1
  :	:
  (29999, 4291956)	1
  (29999, 826419)	1
  (29999, 2629944)	1
  (29999, 1862839)	1
  (29999, 3912957)	1
  (29999, 3319787)	1
  (29999, 103494)	1
  (29999, 597771)	1
  (29999, 2274336)	1
  (29999, 3054307)	1
  (29999, 2482604)	1
  (29999, 4010988)	1
  (29999, 924311)	1
  (29999, 1763163)	1
  (29999, 1561499)	1
  (29999, 4141396)	1
  (29999, 4697772)	1
  (29999, 4142308)	1
  (29999, 4555167)	1
  (29999, 995585)	1
  (29999, 4447851)	1
  (29999, 1095724)	1
  (29999, 3427697)	1
  (29999, 1844899)	1
  (29999, 826646)	1
Bag of Words of test data :    (0, 170295)	1
  (0, 240585)	1
  (0, 1564977)	1
  (0, 3718484)	1
  (0, 4656034)	1
  (1, 186912)	1
  (1, 282003)	1
  (1, 1033890)	1
  (1, 1246138)	1
  (1, 1368398)	1
  (1, 1409625)	1
  (1, 1752814)	1
  (1, 1861649)	1
  (1, 1876493)	1
  (1, 2086331)	1
  (1, 2102252)	1
  (1, 2401288)	1
  (1, 2968593)	1
  (1, 2980137)	1
  (1, 3058599)	1
  (1, 3061703)	1
  (1, 3280541)	1
  (1, 3493745)	1
  (1, 3825897)	1
  (1, 3886956)	1
  :	:
  (19997, 3549645)	1
  (19997, 4070238)	1
  (19997, 4117320)	1
  (19998, 215928)	1
  (19998, 722373)	1
  (19998, 1122094)	1
  (19998, 1574530)	1
  (19998, 1786281)	1
  (19998, 2615508)	1
  (19998, 2678553)	1
  (19998, 2721922)	1
  (19998, 3051830)	1
  (19998, 3057279)	1
  (19998, 3575396)	1
  (19998, 4232088)	1
  (19999, 611537)	1
  (19999, 697500)	1
  (19999, 1409861)	1
  (19999, 1466176)	1
  (19999, 2084476)	1
  (19999, 2196414)	1
  (19999, 2818087)	1
  (19999, 2824495)	1
  (19999, 2837936)	1
  (19999, 2922135)	1

In [ ]:
print('Bag of Words of train data : ', cv_train.shape)
print('Bag of Words of test data : ', cv_test.shape)

Bag of Words of train data :  (30000, 4954557)
Bag of Words of test data :  (20000, 4954557)

###TF_IDF

In [ ]:
#Tfidf Vectorizer
tf = TfidfVectorizer(min_df=0,max_df=1,use_idf=True,ngram_range=(1,3))

#fit and transform test
tf_train = tf.fit_transform(train_reviews)

#transfrom test data
tf_test = tf.transform(test_reviews)

print('Tfidf_train : ',tf_train.shape)
print('Tfidf_test : ',tf_test.shape)

Tfidf_train :  (30000, 4954557)
Tfidf_test :  (20000, 4954557)

###Lable encoding

In [ ]:
#labeling the sentiment data
label = LabelBinarizer()

#transformed sentiment data
sentiment_data = label.fit_transform(data['sentiment'])
print(sentiment_data.shape)

(50000, 1)

In [ ]:
train_data=data.sentiment[:30000]
test_data=data.sentiment[30000:]

#train ml model

In [ ]:
logistic = LogisticRegression(penalty='l2',max_iter=500,C=1,random_state=42)

#fitting model for bag of words
lr_bow = logistic.fit(cv_train,train_data)
print(lr_bow)

#fitting the model for tfidf features
lr_tfidf = logistic.fit(tf_train,train_data)
print(lr_tfidf)

LogisticRegression(C=1, max_iter=500, random_state=42)
LogisticRegression(C=1, max_iter=500, random_state=42)

In [ ]:
#predicting the model for bag of words
bow_predict = lr_bow.predict(cv_test)
print(bow_predict)

['negative' 'negative' 'negative' ... 'negative' 'positive' 'positive']

In [ ]:
#accuracy score for bag of words
lr_bow_score = accuracy_score(test_data,bow_predict)
print("lr_bow_score : ",lr_bow_score)

lr_bow_score :  0.74255

In [ ]:
##predicting the model for tfidf
tfidf_predict = logistic.predict(tf_test)
print(tfidf_predict)

['negative' 'negative' 'negative' ... 'negative' 'positive' 'positive']

In [ ]:
lr_tfidf_score = accuracy_score(test_data,tfidf_predict)
print(lr_tfidf_score)

0.7426